<footer>
  <div class="container text-center">
    <p class="pull-left">
      Copyright © <script>document.write(new Date().getFullYear())</script> <a href="https://steamcommunity.com/id/wildflowericecoffee">wildflowericecoffee</a> - All Rights
      Reserved
      <br>
      Powered by <a href="https://steampowered.com">Steam</a> <i class="fa fa-steam"></i>
    </p>
    <a class="github-button" href="https://github.com/wildflowericecoffee/helix-logs"
      data-color-scheme="no-preference: dark_dimmed; light: dark_dimmed; dark: dark_dimmed;" data-icon="octicon-star"
      data-size="large" data-show-count="true" aria-label="Star ntkme/github-buttons on GitHub">Star</a>
    <a class="github-button" href="https://github.com/wildflowericecoffee/helix-logs/issues"
      data-color-scheme="no-preference: dark_dimmed; light: dark_dimmed; dark: dark_dimmed;"
      data-icon="octicon-issue-opened" data-size="large" data-show-count="true"
      aria-label="Issue ntkme/github-buttons on GitHub">Issue</a>
  </div>
</footer>