<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta content="Logs" property="og:title" />
<meta name="theme-color" content="#FF0000" />
<meta content="Helix Web Logs" property="og:site_name" />
<title>Helix Web Logs</title>

<link rel="shortcut icon" type="image/x-icon" href="/images/favicon.png" />
<link rel="stylesheet" href="/css/deps/dataTables.bootstrap4.min.css" />
<link rel="stylesheet" href="/css/deps/responsive.bootstrap4.min.css" />
<link rel="stylesheet" href="/css/main.css" />